<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>5212023604_f20ea1fb5d_o_medium.jpg</string>
	<string>5212030714_14f06c4504_o_medium.jpg</string>
	<string>5212033470_abe76aaf15_o_medium.jpg</string>
	<string>5218372851_b9f657f10c_o_medium.jpg</string>
	<string>5218380599_1050d95a1e_o_medium.jpg</string>
	<string>5219074692_5e785d98aa_o_medium.jpg</string>
	<string>5227347452_13d71ed231_o_medium.jpg</string>
	<string>5241206469_1d5947b243_o_medium.jpg</string>
	<string>5241208111_67eecbf86d_o_medium.jpg</string>
	<string>5241211391_cf5e79c0c6_o_medium.jpg</string>
	<string>5280561405_5cb743e793_o_medium.jpg</string>
	<string>5280567889_c18cf3a47e_o_medium.jpg</string>
	<string>5281165102_4e42d80968_o_medium.jpg</string>
</array>
</plist>
